*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: lightgray;
}

/* App main body */
.container{
    width: 80%;
    height: 90%;
    margin: 10px auto;
    background-color: white;
    display: flex;
}
/* /App main body */

/* Sidebar */
.sidebar{
    height: 100%;
    width: 340px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}
/* /Sidebar */


